body{
	margin:0;
}
nav{
	background-color: #69a31e;
	
}
nav div{
	background-color: #77ba22;
	max-width:1346px;
	margin:0 auto;
	padding:0 10px;
}

#hamburger {
	float:right;
	margin-top: 15px;
}
nav ul{
	display: none;
}
nav i{
	padding-right: 10px;
}

#mobile-banking{
	background-color: #eee;
	padding:20px;
	font-family: Helvetica, Arial;
}
 #mobile-banking h1{
 	font-size: 16px;
 }
 .login{
 	background-color: #528224;
 	color: white;
 	width: 40%;
 	text-align: center;
 	
 }

 #mobile-banking a{
 	display: inline-block;
 	padding:10px;
 	text-decoration: none;
 	margin:10px 0;
 }

.login + .login{
	float: right;
}

#mobile-banking .contact{
	background-color: #fff;
	display: block;
	color:#333;
	border: 1px solid #ddd;
}
#mobile-banking ul{
	list-style: none;
	padding-left: 0;
}

#hero {
	background-color: #333;
	padding-top: 200px;
	background-image: url(../img/2.png);
	background-repeat: no-repeat;
	background-size:100%;
	max-width: 1346px;
	margin:0 auto;

}
#hero > p{
	background-color: #fff;
	display: inline-block;
	padding: 10px;
	float: right;
}
#hero div{
	background-color:inherit;
	padding:10px;
	text-align: center;
	clear:both;
}
#hero a{
	background-color:#fff;
	padding: 10px;
	color:#189dcf; 
	display: inline-block;
	text-decoration: none;
}
#hero button{
	display: none;
}

#products{
	text-align: center;
	padding: 10px;
}

#products h1{
	color: #77BA22;
}

#products a{
	text-decoration: none;
	color: #25A5CA;
	display: inline-block;
	background-color: #eee;
	padding: 6px;
	margin: 3px;
}

#products .percentage + a {
	background-color:transparent;
	border:none;
	padding:0;
	margin: 0;
}

.percentage {
	width: 300px;
	height: 200px;
	border:1px solid #eee;
	margin: 20px 0;
	box-shadow: 0 14px 0 -10px #ddd;
	text-align: left;
}

.percentage > span{
	text-transform: uppercase;
	background-color: #dfdfdf;
	font-size: 12px;
	display: inline-block;
	padding:6px;
	font-weight: bold;
}

 span.limited{
	background-color: #ff9100;
	color: #fff;
}
.percentage p{
	font-size:64px;
	font-weight: bold;
	margin:10px 0;
	padding-left: 10px;
}

.percentage p span{
		
		position: relative;
}

.percentage p span:first-child{
		font-size: 28px;
		bottom:24px;
		right: 10px;
}
.percentage p span:last-child{
		right:48px;
		font-size: 22px;
}

.percentage ul {
	list-style: none;
	color: #888;
	padding-left:10;
	margin-top: 0;
}














@media all and (min-width: 600px){
	#mobile-banking {
		display: none;
	
	}
}







@media all and (min-width: 720px){

	nav ul{
		display: block;
		list-style: none;
		margin:0;
	}

	#hamburger{
		display:none;
	}
	nav img	{
		float: left;
	}
	nav li{
		display: inline-block;
		line-height: 50px;
		padding:0 10px;

	}
	nav ul:nth-of-type(1){
		float: left;
	}
	nav	ul:nth-of-type(2){
		float: right;
	}
	nav div:after{
		content: '';
		display: block;
		clear:both;
	}

	nav a{
		color:white;
		text-decoration: none;
	}
	nav a span{
		display: none;
	}
	#hero{
		position: relative;
		background-size: auto;
		background-position: right;
	}
	#hero:after{
		content: '';
		display: block;
		clear:both;
	}
	#hero div{
		position: absolute;
		top:0;
		left: 0;
		width:300px;
	}
	#hero > p{
		margin-bottom: 0;
	}
}


@media all and (min-width: 970px){

	nav a span{
		display: inline;
	}
	nav li{
		padding:0 20px;
	}


}

@media all and (min-width: 1020px){
	#hero button{
		display: block;
		position: absolute;
		top: 50%;
	}
	#prev{
		left:0;
	}
	#next{
		right:0;
	}
}













